.common() {
  @font-size-base: 12px;
  @font-size-lg: 14px;
  @border-radius-base: 2px;
  
  @color-warning-line: #F53F3F;
  @color-danger: #F53F3F;
  @color-warning: #FF7D00;
  @color-success: #00B42A;
  @color-info: #165DFF;
}

.theme-light() {
  @bg-color: #FFFFFF;
  @text-color-primary: #1D2129;
  @text-color-secondary: #4E5969;
  @text-color-disabled: #C9CDD4;
  @border-color: #E5E6EB;
  
  @chart-axis-color: #E5E6EB;
  @chart-text-color: #4E5969;
  @chart-split-color: #F2F3F5;
}

.theme-dark() {
  @bg-color: #17171A;
  @text-color-primary: #F5F5F5;
  @text-color-secondary: #A6A6A6;
  @text-color-disabled: #4D4D4D;
  @border-color: #333333;
  
  @chart-axis-color: #333333;
  @chart-text-color: #A6A6A6;
  @chart-split-color: #2A2A2A;
}