&.dark {
  .c-mc-1784551081158-e8a04bd6-content {
    background-color: @color-content-bg-dark;
    border-color: @color-content-border-dark;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-label {
    color: @color-stat-label-dark;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-value {
    color: @color-stat-value-dark;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-unit {
    color: @color-stat-unit-dark;
  }
}