&.light {
  .c-mc-1784551081158-e8a04bd6-content {
    background-color: @color-content-bg-light;
    border-color: @color-content-border-light;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-label {
    color: @color-stat-label-light;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-value {
    color: @color-stat-value-light;
  }
  
  .c-mc-1784551081158-e8a04bd6-stat-unit {
    color: @color-stat-unit-light;
  }
}