.common() {
  @fontSize: 14px;
  @color-primary: #1990ff;
  @color-accent: #fa8c16;
  @color-text-base: rgba(255, 255, 255, 1);
  @color-bg: #edf4fb;
  @font-size-base: 14px;
  @font-size-large: 32px;
}

.theme-dark() {
  @color-primary: #1990ff;
  @color-accent: #fa8c16;
  @color-text-base: rgba(255, 255, 255, 1);
  @color-bg: #edf4fb;
  @font-size-base: 14px;
  @font-size-large: 32px;
}

.theme-light() {
  @color-primary: #1990ff;
  @color-accent: #fa8c16;
  @color-text-base: rgba(255, 255, 255, 1);
  @color-bg: #edf4fb;
  @font-size-base: 14px;
  @font-size-large: 32px;
}