.common() {
  @fontSize: 14px;
  @font-size-base: 14px;
  @border-radius-base: 8px;
  @color-primary: #559EFF;
  @color-success: #52c41a;
  @color-danger: #f53f3f;
  @color-white: #ffffff;
}

.theme-dark() {
  @color-bg: #1a2332;
  @color-text-base: @color-white;
}

.theme-light() {
  @color-bg: #EDF4FB;
  @color-text-base: #333333;
}