.common() {
  @font-family-base: 'Source Han Sans CN', 'Noto Sans SC', sans-serif;
  @font-family-number: 'Roboto', sans-serif;
  
  @color-primary: #1990ff;
  @color-warning: #fa8c16;
  @color-text-primary: #333333;
  @color-text-secondary: #666666;
  @color-bg-base: #edf4fb;
  
  @color-tunnel-value: #0c9dbe;
  @color-bridge-value: #006fe3;
  @color-truck-value: #ff6a00;
  @color-bus-value: #1399ff;
  
  @color-btn-active-bg: #1990ff;
  @color-btn-active-border: rgba(199, 224, 255, 1);
  @color-btn-inactive-bg: #6680a0;
  @color-btn-inactive-border: rgba(172, 196, 225, 1);
  
  @shadow-text-title: 0 5px 5px rgba(255, 255, 255, 0.8);
}

.theme-light() {
  .common();
}

.theme-dark() {
  @font-family-base: 'Source Han Sans CN', 'Noto Sans SC', sans-serif;
  @font-family-number: 'Roboto', sans-serif;
  
  @color-primary: #1990ff;
  @color-warning: #fa8c16;
  @color-text-primary: #ffffff;
  @color-text-secondary: #cccccc;
  @color-bg-base: #1a2332;
  
  @color-tunnel-value: #0c9dbe;
  @color-bridge-value: #006fe3;
  @color-truck-value: #ff6a00;
  @color-bus-value: #1399ff;
  
  @color-btn-active-bg: #1990ff;
  @color-btn-active-border: rgba(199, 224, 255, 1);
  @color-btn-inactive-bg: #6680a0;
  @color-btn-inactive-border: rgba(172, 196, 225, 1);
  
  @shadow-text-title: 0 5px 5px rgba(255, 255, 255, 0.2);
}

.theme-light();
.common();