// 组件内共享的业务 class，建议前缀 .mv3-<组件名>-

.mv3-1785781275696-cbb4db83- {
  // 共享业务 class 占位
  &text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}