.common() {
  @env-bg-color: rgb(237, 244, 251);
  @env-shadow-color: rgba(74, 117, 141, 0.25);
  @env-title-grad-start: rgb(25, 144, 255);
  @env-title-grad-end: rgba(90, 126, 255, 0.83);
  @env-tab-text: rgb(44, 155, 234);
  @env-tab-active-grad-start: rgb(16, 153, 177);
  @env-tab-active-grad-end: rgb(4, 143, 255);
  @env-tab-list-grad-start: rgb(181, 222, 255);
  @env-tab-list-grad-end: rgb(209, 236, 255);
  @env-icon-border: rgb(161, 206, 255);
  @env-badge-bg: rgb(245, 63, 63);
  @env-chart-line: rgb(15, 205, 125);
  @env-warning-line: rgb(211, 47, 47);
  @env-text-base: rgb(51, 51, 51);
}

.theme-light() {
  .common();
}

.theme-dark() {
  .common();
}

.theme-light();
.common();