.common() {
  @em-font-size-base: 14px;
  @em-font-size-sm: 12px;
  @em-font-size-lg: 16px;
  @em-border-radius-base: 4px;
  @em-border-radius-sm: 2px;
  @em-transition-base: all 0.3s;
}

.theme-light() {
  @em-bg-color: #ffffff;
  @em-bg-color-secondary: #edf4fb;
  @em-bg-color-tertiary: #d6effc;

  @em-text-color-primary: #333333;
  @em-text-color-secondary: #56597c;
  @em-text-color-tertiary: #6680a0;
  @em-text-color-disabled: rgba(74,117,141,0.25);

  @em-primary-color: #1252fa;
  @em-primary-color-hover: #1990ff;
  @em-primary-color-active: #006fe3;
  @em-primary-color-light: rgba(199,224,255,1);

  @em-border-color: rgba(172,196,225,1);
  @em-divider-color: rgba(74,117,141,0.25);

  @em-success-color: #00cccc;
  @em-warning-color: #ffa22f;
  @em-error-color: #ff6a00;
  @em-info-color: #3385ff;

  @em-chart-color-1: #1252fa;
  @em-chart-color-2: #0c9dbe;
  @em-chart-color-3: #5a7eff;
  @em-chart-color-4: #ffa22f;
  @em-chart-color-5: #388dff;
  @em-chart-color-6: #57caff;
  @em-chart-color-7: #1399ff;
  @em-chart-color-8: #5bbbef;
}

.theme-dark() {
  @em-bg-color: #333333;
  @em-bg-color-secondary: #56597c;
  @em-bg-color-tertiary: #000000;

  @em-text-color-primary: #ffffff;
  @em-text-color-secondary: rgba(255,255,255,0.800000011920929);
  @em-text-color-tertiary: #d6effc;
  @em-text-color-disabled: rgba(74,117,141,0.25);

  @em-primary-color: #1990ff;
  @em-primary-color-hover: #559eff;
  @em-primary-color-active: #2ba0ff;
  @em-primary-color-light: rgba(0,204,204,0.30000001192092896);

  @em-border-color: rgba(74,117,141,0.25);
  @em-divider-color: rgba(74,117,141,0.25);

  @em-success-color: #00cccc;
  @em-warning-color: #ffa22f;
  @em-error-color: #ff6a00;
  @em-info-color: #3385ff;

  @em-chart-color-1: #1990ff;
  @em-chart-color-2: #0c9dbe;
  @em-chart-color-3: #5a7eff;
  @em-chart-color-4: #ffa22f;
  @em-chart-color-5: #559eff;
  @em-chart-color-6: #57caff;
  @em-chart-color-7: #1399ff;
  @em-chart-color-8: #5bbbef;
}