.common() {
  @monitor-bg-color: #edf4fb;
  @monitor-text-color: #333333;
  @monitor-primary-color: #1990ff;
  @monitor-success-color: #08a3a5;
  @monitor-danger-color: #f53f3f;
  @monitor-white-color: #ffffff;
  @monitor-tab-active-bg: linear-gradient(270deg, #318aff 0%, #70bfff 100%);
}

.theme-dark() {
  @monitor-bg-color: #1a2332;
  @monitor-text-color: #ffffff;
  @monitor-primary-color: #1990ff;
  @monitor-success-color: #08a3a5;
  @monitor-danger-color: #f53f3f;
  @monitor-white-color: #ffffff;
  @monitor-tab-active-bg: linear-gradient(270deg, #318aff 0%, #70bfff 100%);
}

.theme-light() {
  @monitor-bg-color: #edf4fb;
  @monitor-text-color: #333333;
  @monitor-primary-color: #1990ff;
  @monitor-success-color: #08a3a5;
  @monitor-danger-color: #f53f3f;
  @monitor-white-color: #ffffff;
  @monitor-tab-active-bg: linear-gradient(270deg, #318aff 0%, #70bfff 100%);
}

.theme-light();
.common();