.common() {
  @bg-color: #003032;
  @text-color: #FFFFFF;
  @primary-color: #18FFCE;
  @accent-color: #00F0FF;
  @tag-bg: #B07B00;
  @tag-border: #FFFFFF;
  @table-header-bg: #00373A;
  @table-row-bg: #00464B;
  @table-row-highlight-bg: #014347;
  @table-row-highlight-shadow: rgba(27, 255, 220, 0.85);
  @detail-title-deco: #D9D9D9;
  @border-color: rgba(255, 255, 255, 0.2);
}

.theme-dark() {
  .common();
}

.theme-light() {
  @bg-color: #f0f5f5;
  @text-color: #333333;
  @primary-color: #008877;
  @accent-color: #00aacc;
  @tag-bg: #d49b00;
  @tag-border: #ffffff;
  @table-header-bg: #e0eaea;
  @table-row-bg: #f5fafa;
  @table-row-highlight-bg: #e6f7f5;
  @table-row-highlight-shadow: rgba(0, 136, 119, 0.3);
  @detail-title-deco: #999999;
  @border-color: rgba(0, 0, 0, 0.1);
}

.theme-light();
.common();