.common() {
  @bg-color: #003032;
  @text-color: #ffffff;
  @table-header-bg: #00373A;
  @table-row-bg: #00464B;
  @table-row-active-bg: #014347;
  @table-row-active-shadow: inset 0 0 13.5px rgba(27, 255, 221, 0.85);
  @plate-tag-bg: #B07B00;
  @plate-tag-border: #ffffff;
  @detail-title-block: #D9D9D9;
  @monitor-border: #ffffff;
}

.theme-dark() {
  .common();
}

.theme-light() {
  .common();
}

.theme-light();
.common();