.common() {
  @bg-8788-image: url(../resources/images/bg-8788.png);
  @bg-8788-size: 100% 100%;
  @bg-8788-position: center center;
  @bg-8788-repeat: no-repeat;
}

.theme-dark() {
  @bg-8788-image: url(../resources/images/bg-8788.png);
  @bg-8788-size: 100% 100%;
  @bg-8788-position: center center;
  @bg-8788-repeat: no-repeat;
}

.theme-light() {
  @bg-8788-image: url(../resources/images/bg-8788.png);
  @bg-8788-size: 100% 100%;
  @bg-8788-position: center center;
  @bg-8788-repeat: no-repeat;
}