.common() {
  @fontSize: 14px;
  @border-radius-base: 4px;
  @font-size-base: 14px;
}

.theme-dark() {
  @color-primary: #559eff;
  @color-text-base: rgba(255, 255, 255, 0.8);
  @color-danger: #f53f3f;
  @color-success: rgba(0, 200, 100, 0.6);
  @color-bg: #edf4fb;
  @color-tab-active-bg: #559eff;
  @color-tab-active-text: #ffffff;
  @color-tab-default-text: rgba(255, 255, 255, 0.8);
  @color-area-fill: rgba(0, 200, 100, 0.6);
  @color-alert-line: #f53f3f;
  @color-alert-label: #f53f3f;
}

.theme-light() {
  @color-primary: #559eff;
  @color-text-base: rgba(0, 0, 0, 0.75);
  @color-danger: #f53f3f;
  @color-success: rgba(0, 180, 90, 0.8);
  @color-bg: #edf4fb;
  @color-tab-active-bg: #559eff;
  @color-tab-active-text: #ffffff;
  @color-tab-default-text: rgba(0, 0, 0, 0.6);
  @color-area-fill: rgba(0, 180, 90, 0.8);
  @color-alert-line: #f53f3f;
  @color-alert-label: #f53f3f;
}