.common() {
@bg-color: #edf4fb;
  @primary-color: #038fff;
  @secondary-color: #1099b1;
  @danger-color: #f53f3f;
  @success-color: #0fcd7d;
  @text-color: #333333;
  @text-color-secondary: #666666;
  @border-color: #ffffff;
  @click: inherit; // 自动添加
  @echarts: inherit; // 自动添加
}

.theme-dark() {
  @bg-color: #1a2332;
  @primary-color: #038fff;
  @secondary-color: #1099b1;
  @danger-color: #f53f3f;
  @success-color: #0fcd7d;
  @text-color: #ffffff;
  @text-color-secondary: #cccccc;
  @border-color: rgba(255, 255, 255, 0.1);
}

.theme-light() {
  @bg-color: #edf4fb;
  @primary-color: #038fff;
  @secondary-color: #1099b1;
  @danger-color: #f53f3f;
  @success-color: #0fcd7d;
  @text-color: #333333;
  @text-color-secondary: #666666;
  @border-color: #ffffff;
}

// 全局调用默认值

:root {
  .theme-light();
  .common();
}