.common() {
  @fontSize: 14px;
}

.theme-light() {
  @colorPrimary: rgba(25, 144, 255, 1);
  @colorSecondary: rgba(8, 163, 165, 1);
  @colorDanger: rgba(255, 100, 100, 1);
  @colorTextBase: rgba(51, 51, 51, 1);
  @colorTextInverse: rgba(255, 255, 255, 1);
  @colorBg: rgba(237, 244, 251, 1);
}

.theme-dark() {
  @colorPrimary: rgba(25, 144, 255, 1);
  @colorSecondary: rgba(8, 163, 165, 1);
  @colorDanger: rgba(255, 100, 100, 1);
  @colorTextBase: rgba(255, 255, 255, 0.85);
  @colorTextInverse: rgba(51, 51, 51, 1);
  @colorBg: rgba(26, 26, 26, 1);
}