.common() {
  @fontSize: 14px;

  @color-primary: #559eff;
  @color-primary-active: #559eff;
  @color-primary-bg: rgba(85, 158, 255, 0.08);
  @color-primary-bg-hover: rgba(85, 158, 255, 0.16);
  
  @color-warning: #f53f3f;
  @color-warning-bg: rgba(245, 63, 63, 0.1);
  
  @color-success: #52c41a;
  @color-success-bg: rgba(82, 196, 26, 0.1);
  
  @color-border: rgba(85, 158, 255, 0.2);

  @font-size-base: 14px;
  @font-size-sm: 12px;
  
  @border-radius-base: 4px;
  @border-radius-capsule: 999px;
}

.theme-light() {
  @color-bg: #edf4fb;
  @color-card-bg: #ffffff;
  @color-text-base: #1d2129;
  @color-text-secondary: #4e5969;
}

.theme-dark() {
  @color-bg: #141414;
  @color-card-bg: #1f1f1f;
  @color-text-base: #ffffff;
  @color-text-secondary: #a6a6a6;
}