.common() {
  @fontSize: 14px;
  @font-size-base: var(--fontSize);
}

.theme-dark() {
  @color-primary: var(--colorPrimary);
  @color-primary-bg: var(--colorPrimaryBg);
  @color-success: var(--colorSuccess);
  @color-danger: var(--colorDanger);
  @color-bg: var(--colorBg);
  @color-text-base: var(--colorTextBase);
  @border-radius-base: var(--borderRadius);
}

.theme-light() {
  @color-primary: var(--colorPrimary);
  @color-primary-bg: var(--colorPrimaryBg);
  @color-success: var(--colorSuccess);
  @color-danger: var(--colorDanger);
  @color-bg: var(--colorBg);
  @color-text-base: var(--colorTextBase);
  @border-radius-base: var(--borderRadius);
}