.common() {
  @color-primary: #1990ff;
  @color-secondary: #fa8c16;
  @color-text-main: #333333;
  @color-text-secondary: #666666;
  @color-bg-base: #edf4fb;
  @color-border: #e8e8e8;
  @color-tunnel-value: #006fe3;
  @color-bridge-value: #0c9dbe;
  @color-actual-line: #3385ff;
  @color-predict-line: #00cccc;
}

.theme-light() {
  @color-primary: #1990ff;
  @color-secondary: #fa8c16;
  @color-text-main: #333333;
  @color-text-secondary: #666666;
  @color-bg-base: #edf4fb;
  @color-border: #e8e8e8;
  @color-tunnel-value: #006fe3;
  @color-bridge-value: #0c9dbe;
  @color-actual-line: #3385ff;
  @color-predict-line: #00cccc;
}

.theme-dark() {
  @color-primary: #1990ff;
  @color-secondary: #fa8c16;
  @color-text-main: #ffffff;
  @color-text-secondary: #cccccc;
  @color-bg-base: #1a2332;
  @color-border: #2a3545;
  @color-tunnel-value: #4da6ff;
  @color-bridge-value: #36c2e0;
  @color-actual-line: #3385ff;
  @color-predict-line: #00cccc;
}

.theme-light();
.common();