.common() {
  @env-bg-color: #edf4fb;
  @env-text-primary: #333333;
  @env-text-secondary: #666666;
  @env-accent-color: #1990ff;
  @env-shadow-color: rgba(74, 117, 141, 0.25);
}

.theme-light() {
  @env-bg-color: #edf4fb;
  @env-text-primary: #333333;
  @env-text-secondary: #666666;
  @env-accent-color: #1990ff;
  @env-shadow-color: rgba(74, 117, 141, 0.25);
}

.theme-dark() {
  @env-bg-color: #1a2332;
  @env-text-primary: #ffffff;
  @env-text-secondary: #a0a0a0;
  @env-accent-color: #559eff;
  @env-shadow-color: rgba(0, 0, 0, 0.5);
}

.theme-light();
.common();