.common() {
  @font-cn: 'Source Han Sans CN', 'PingFang SC', sans-serif;
  @font-en: 'Roboto', sans-serif;
}

.theme-light() {
  @fontSize: 14px;
  @colorTextBase: #333333;
  @colorPrimary: #1990ff;
  @colorSuccess: #08a3a5;
  @colorDanger: #ff6464;
  @colorBg: #edf4fb;
  @colorBgCard: #ffffff;
  @borderRadius: 6px;
  @borderRadiusSm: 4px;
}

.theme-dark() {
  @fontSize: 14px;
  @colorTextBase: rgba(255, 255, 255, 0.85);
  @colorPrimary: #1990ff;
  @colorSuccess: #08a3a5;
  @colorDanger: #ff6464;
  @colorBg: #1a1a1a;
  @colorBgCard: rgba(255, 255, 255, 0.05);
  @borderRadius: 6px;
  @borderRadiusSm: 4px;
}
